.main__banner{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.banner__heading{
    margin: 0;
    text-align: left;
    background: -webkit-linear-gradient(#6f9ac0, #178cf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading__container{
    text-align: left;
}

.main__banner__right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__banner__right__line{
    text-align: left;
    margin: 0;
}